<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>My Military Move</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="wrap">
<div id="header">
<%= render :partial => "shared/navigation_bar" %>
</div>
<div class="colmask rightmenu">

	<div class="colleft">
		<div id="move">
				<p>
				<%= @start.name.upcase %> to <%= @end.name.upcase %>  on <%= @move.date.strftime("%B %d, %Y") %> 
				</p> 
				<span class="edit"><%= link_to 'edit your move', edit_move_path(@move)%></span>
		</div>
		
<div class="col1">
	<p>
	  <h1>These are YOUR CUSTOMIZABLE moving lists. We just gave you a starting point. Add more lists or edit the current ones. Every list and task can be changed or delete using the buttons below.<br />
		Tip: click the <%= image_tag("icons/pro.png", :border =>'none') %> to mark a task as complete!</h2>
	</p>
	<% if @move.created_at < Time.parse('2011-02-25 19:44:46')%>
	<p>	
	  <span class="edit"><%= link_to "Add MilitaryMoveIt's Customizable Lists to Yours.", :controller => "moves", :action => "list", :id => @move.id %></span>
	</p>
	<% else %>
	<% end %>
	<div id="list_header">
		<div id="list_form">
				<% form_for(@list) do |f| %>
				  <%= f.error_messages %>
				  <%= f.hidden_field :move_id, :value => @move.id %>
				  <p>
				    <%= f.label :name, "New List Name" %>
				    <%= f.text_field :name %>
				  </p>

				</div>
				<div id= "add_list_button">
				    <%= image_submit_tag("buttons/add_a_list.png", :border=>0, :name => "submit")  %>
				</div>
				<% end %>
			
	    </div>

			<!-- Column 1 start -->

<div id ="list">

  <% @lists.each do |list| %>
    <p>
    <h1><%= list.name %> <span class="edit"><%= link_to 'edit | ', edit_move_list_path(@move, list) %></span><span class="delete"><%= link_to 'delete', list, :confirm => 'Delete this ENTIRE list?', :method => :delete %></span></h1>
    </p>
    <ul>
    <% list.tasks.each do |t| %>
    
	<% if t.finished %>
	  <%= link_to image_tag("icons/pro_gray.png", :border =>'none'), :controller => "tasks", :action => "unfinish", :id => t.id %><span class="finished"><%=h t.task %></span><br />
	
	<% else %>
	    <%= link_to image_tag("icons/pro.png", :border =>'none'), :controller => "tasks", :action => "finish", :id => t.id %>
		<%=h t.task %>
		<br />
		<span class="edit"><%= link_to 'edit | ', edit_move_list_path(@move, list) %></span><span class="delete"><%= link_to 'delete', t, :confirm => 'Are you sure?', :method => :delete %></span><br />
	<% end %>

<% end %>
</ul>
<div id="form">
	<p>
		<% form_for([@task]) do |f| %>
		  <%= f.error_messages %>

		  <p>
		    <%= f.text_field :task, :size => 50 %>
		  </p>
		  <p>
		    <%= f.hidden_field :list_id, :value => list.id %>
		  </p>
		  <p>
		    <%= f.submit 'Add' %>
		  </p>
		<% end %>
	</p>
</div>
  <% end %>
</div>
			<!-- Column 1 end -->
</div>

<div class="col2">
	<!-- Column 2 start -->
	
	<!-- Column 2 end -->
</div>


</div>
</div>
<div id="footer">
	<p>Contact Us: <%= mail_to 'militarymove@gmail.com' , "militarymoveit@gmail.com"%></p>

</div>
</div>
</body>
</html>
