<p>
  <b>Research:</b>
  <%=h @note.research_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @note.name %>
</p>

<p>
  <b>Note:</b>
  <%=h @note.note %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>