<h1>New task</h1>

<% form_for(@task) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :list_id %><br />
    <%= f.text_field :list_id %>
  </p>
  <p>
    <%= f.label :task %><br />
    <%= f.text_field :task %>
  </p>
  <p>
    <%= f.label :completed %><br />
    <%= f.check_box :completed %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', tasks_path %>