<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>My Military Move</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link href=' http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="wrap">
	<div id="header">
	  	<div id="logo">
		<%= link_to image_tag("icons/logo_small.png", :border=>0), root_url %>
		<div id="nav">
		  <ul>
			<li><a href="mailto:militarymoveit@gmail.com">Contact</a></li>
			<li><a href="#questions">FAQs |</a></li>
			<li><a href="#who">Who is the network? |</a></li>
		    <li><a href="#how">How does this work? |</a></li>
		    <li><a href="#what">What is this? |</a></li>
		    
		 </ul>
		</div>
		</div>
	</div>
    <div id="main">
	  
	    <div id="top">

	    </div>
	  <div id="sidebar">

		
		</div>

	  <div id="sidebar_two">


	  </div>
<div id="intro">
	<a name="header"></a> 
	<%= image_tag("network/header.png") %>
			</div>
<div id="what">
<a name="what"></a> 
<%= image_tag("network/what.png") %>
		</div>
	  <div id="how">
<a name="how"></a> 
<%= image_tag("network/how.png") %>
	</div>
	<div id="who">
<a name="who"></a>
<%= image_tag("network/who.png") %> 	  
	</div>
	<div id="faq">

	<h1>Frequently Asked Questions:</h1>
	<div id="questions">
	  <span class="ques">
	    Why am I paying if I am giving up ad space?
	  </span>
	  <div class="answer">
	    The fee associated with being a member of this network is not related to actual ad space. In this network the fee is a management fee. It covers artwork, assuring everyone's code is implemented properly and providing monthly activity reports.
	  </div>
	  <span class="ques">
	    Will I have any control over what ads will run on my site?
	  </span>
	  <div class="answer">
	    You will not have access to pick and choose what ads run on your site. However, the MilitaryMoveIt Network is only interested in running ads of top quality military (owner or relevant) businesses. If at anytime you are not satisfied with your neighbors in the network you can withdraw and receive a full refund for the month. 
	  </div>
	  <span class="ques">
	    I am a small business, how does this benefit me?
	  </span>
	  <div class="answer">
	    Paying money towards marketing is always difficult, especially for a small business with a limited budget. Chances are you have a great business with a wonderful product, unfortunately a lot of people don't know about it. Take advantage of some larger business in the military community to reach out to people who don't even know they need you yet!
	  </div>
	  <span class="ques">
	   I am a large business running high traffic numbers on my site. Why would I bother with this?
	  </span>
	  <div class="answer">
	    Military customers are very community driven. Seeing your company appear on several military sites, not related to your business, will plant a seed of trust. On the flip-side seeing an advertisement that is for a military small business on your site/blog shows your connection with the community.
	  </div>
	
	
	</div>
	
	</div>

<div id="footer">
	<h1>Contact Us Today, Limited Space.</h1>
	Contact: militarymoveit@gmail.com
</div>
</div>
</div>
</body>
</html>
