<h1>Editing pet</h1>

<% form_for(@pet) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :microchip %><br />
    <%= f.text_field :microchip %>
  </p>
  <p>
    <%= f.label :breed %><br />
    <%= f.text_field :breed %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @pet %> |
<%= link_to 'Back', pets_path %>