<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>My Military Move</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="wrap">
	  <div id="header">
		<div id="logo">
		  <%= link_to image_tag("icons/logo.png", :border=>0), users_path %>
		</div>
	    <div id ="login">
		    <ul>
			  <li><%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %></li>
			  <li><%= link_to "Account", user_path(current_user) %></li>
			</ul>
		</div>
	  </div>
<div id="main">
	
  <div id="border">
		
  	<div id ="form">
		<h1>New pet</h1>

		<% form_for(@pet) do |f| %>
		  <%= f.error_messages %>

		  <p>
		    <%= f.hidden_field :user_id, :value => current_user.id %>
		  </p>

		  <p>
		    <%= f.label :name %><br />
		    <%= f.text_field :name %>
		  </p>
		  <p>
		    <%= pet.label :pet_type %><br />
		    <%= pet.select(:pet_type, [["Please Select", ""], ["Dog", "Dog"], ["Cat", "Cat"], ["Other", "Other"]]) %>
		  </p>
		  <p>
		    <%= pet.label :microchip, "Microchip Number" %><br />
		<span class="highlight">Traveling during a move always raises the risk of a lost pet. Keeping their microchip number in an easily accessible place is always a good idea.</span><br />
		    <%= pet.text_field :microchip %>
		  </p>
		  <p>
		    <%= f.label :breed %><br />
		    <%= f.text_field :breed %>
		  </p>
		  <p>
		    <%= f.submit 'Create' %>
		  </p>
		<% end %>
</div>


</div>

</body>
</html>
