<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>My Military Move</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="wrap">
	<div id="header">
	  	<div id ="login">
		<ul>
			<li><%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %></li>
			<li><%= link_to "Account", user_path(current_user) %></li>
		</ul>
		</div>
		<div id="nav">
			<div id="logo">
			  <%= link_to image_tag("icons/logo.png", :border=>0), account_path %>	
			</div>
		</div>
	</div>
<div id="main">
	<div id="border">
	  <div id="form">
<h1>Add Additional Photos</h1>
<span class="highlight"> Ideas of photos to add: Photos of item from different angle, photos of any damage, photos of serial number, and photo of original receipt. If this is an electronic, take a shot of the item on.</span>

<% form_for(@thing, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>


<p>
  Attach a file or image <br />
  <%= f.file_field :data %>
</p>
	<div id="button">
	  <p>
	    <%= f.submit 'Create' %>
	  </p>
	</div>

<% end %>

  </div>
    </div>
      </div>
<div id="footer">
	<p> Copyright Lauren Rothlisberger</p>

</div>

</body>
</html>

