	
<html>
<head>
	<title>My Military Move</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link href="../application.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wrap">
<div id="header">
  	<div id ="login">
	<ul>
		<li><%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %></li>
		<li><%= link_to "Account", user_path(current_user) %></li>
	</ul>
	</div>
	<div id="nav">
		<div id="logo">
		  <%= link_to image_tag("icons/logo.png", :border=>0), account_path %>	
		</div>
	</div>
</div>
<div class="colmask rightmenu">

	<div class="colleft">
		
<div class="col1">
	<div id="research_header">
	<p>
	   		<h1>My Things</h1>
	</p>
	<div id="add_button">
	<%= link_to image_tag("buttons/add_things_large.png", :border=>0), new_user_thing_path(current_user) %>
	</div>
	</div>
	
<% if @things.blank? %>
  <div id="blank">
	<span class="required">It looks like you don't have any "things" yet. Read below to learn more about what this is and how to get started.</span>
   	<h1>What is for?</h1>
    <p>
	Many of us have experienced having an item lost or destroyed in a military move. If you haven’t, your number might be up next. Be prepared. The claims process can be very painful, however with the correct preparation it will be simpler.
	</p>
	<p>
	<span class="highlight">This section allows you to document information and photos about any "thing" in your home, particularly your high dollar items.</span>
	</p>
  </div>
	<div id="screenshots">
	  <div id="screenshot_left">
		<%= image_tag("screenshots/things.png", :border=>0) %>
	  </div>
	  <div id="screenshot_left_text">
		<h2>Getting Started:</h2>
		<div class='left'>
			
		</div>
		<b>1. What to inventory.</b> <br /><div id="highlight_blue">Furniture, electronics, sporting or outdoor equipment; anything you consider to be a high dollar item.</div>
		<b>2. Take pictures.<br /><span class="required">**Ensure your camera date is correct.** </span></b><br /><div id="highlight_blue">Every "thing" can have a gallery of photos. It is always a good idea to include a picture of the receipt from the original purchase.</div>
		<b>3. Start Adding Your "Things."</b> <div id="highlight_blue">Use the button in the upper-right hand corner to get started.</div>
		<b>4. KEEP A RUNNING LIST! </b> <div id="highlight_blue">If you buy something of value document it!</div><br />
		
		<p><span class="highlight">Tip: If you ever need this information about one of your “things” you simply export it to PDF.</span></p>
	  </div>
	</div>


<% else %>
    <div id="things">

	<% @things.each do |thing| %>
	  <div id="each_thing">
		
	  <p>
		<div id="each_thing_info">
	  <% thing.assets.all(:limit => 1).each do |asset| %>
	
		<%= image_tag asset.url(:small) %>
	  <% end %><br />
	  <h1><%= link_to thing.name, thing %></h1><div class="highlight">(Click to View All Details)</div>
	    </div>
	   <%= link_to image_tag("buttons/edit_neighborhood.png", :border=>0), edit_user_thing_path(current_user, thing) %>
	   <%= link_to image_tag("icons/con.png", :border=>0), thing, :confirm => 'Are you sure?', :method => :delete %>
       </p>
      </div>
	<% end %>
	 
   </div>
<% end %>

</div>

<div class="col2">

</div>
<div id="footer">


</div>
</div>
</body>
</html>
