<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>My Military Move</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link href=' http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="wrap">
	<div id="header">
	  	<div id="logo">
		<%= link_to image_tag("icons/logo_small.png", :border=>0), root_url %>
		</div>
	</div>
    <div id="main">
	  
	    <div id="top">
		  <div id="title">
			<div id="plan_one">
				<h2>PREMIUM </h2>
				<p>Place an UNLIMITED number of household items in your "my things" section (read more below).</p> <span class="highlight">$20 for the year</span>.<br /> That is <span class="highlight">$1.66 a month</span>.</h2>
				<p> Organize the rest of your move.
				  <ul>
					<li>itinerary</li>
					<li>calendar</li>
					<li>lists & notes</li>
					<li>neighborhood research</li>
					<li>home research</li>
					<li>school research</li>
				  </ul>
				  <%= link_to image_tag("buttons/get_started.png", :border=>0), root_url %>
				</p>
              
			</div>
			<div id="plan_two">
				<h2>FREE </h2>
				Limited to 5 household items in your "my things" section.
				<p> Organize your move.
				  <ul>
					<li>itinerary</li>
					<li>calendar</li>
					<li>lists & notes</li>
					<li>neighborhood research</li>
					<li>home research</li>
					<li>school research</li>
				  </ul>
				  <%= link_to image_tag("buttons/get_started.png", :border=>0), root_url %>
				</p>
				
			</div>
          </div>

	    </div>
	    <div id="why_pay">
		<h1>What do I get? 	<span class="beta">
			<%= link_to "Want to know more? Take A Tour", {:controller => "/tour", :action => "index"} %>
	      </span></h1>
	    </div>
	  <div id="sidebar">

		<div id="subtitle">
			
			<h2>Organize Your Household Inventory...</h2>
			<p>
           MilitaryMoveIt's "my things” allows you to manage your personal inventory of high-dollar items.</p> <p>In the event you have to claim an item, all your information is documented and easily accessible online.</p><p> This alone could saved you hundreds of dollars in denied claims.<br /><%= link_to "Learn more, watch a video tour.", {:controller => "/thing_tours", :action => "index"} %></p>

		</div>

	  </div>
	  <div id="sidebar_two">

		  
		<%= image_tag("screenshots/things.png", :border=>0) %>
	  </div>
	
    <div id="mini_tour">
	
		<h2>... and the rest of your military move. </h2>
	  <%= image_tag("index/itinerary_square.png", :border=>0)%> <%= image_tag("index/calendar_square.png", :border=>0)%> <%= image_tag("index/lists_square.png", :border=>0) %> <%= image_tag("index/home_square.png", :border=>0) %> <%= image_tag("index/neighborhood_square.png", :border=>0) %> <%= image_tag("index/school_square.png", :border=>0) %>
	</div>
	<div id="screenshot_footer">
		<%= link_to image_tag("icons/get_started_large.png", :border=>0), new_user_session_path %>
	</div>

    </div>
  
  </div>
</body>