<div id="form">

<%= form.label :name %><br />
<%= form.text_field :name %><br />
<br />
<%= form.label :email %><br />
<%= form.text_field :email %><br />
<br />
<%= form.label :password, form.object.new_record? ? nil : "Change password" %><br />
<%= form.password_field :password %><br />
<br />
<!--%= form.label :password_confirmation %><br /-->
<!--%= form.password_field :password_confirmation %-->
<%= form.collection_select :installation_id, Installation.find(:all, :order => "name"), :id, :name, :prompt => "Select a Location" %><br />
<p style =color:#fff> or create one:
<%= form.text_field :new_installation_name, :size =>'25'  %>
</div>