<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>My Military Move</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="wrap">
	  <div id="header">
		<div id="logo">
		  <%= link_to image_tag("icons/logo.png", :border=>0), users_path %>
		</div>
	    <div id ="login">
		    <ul>
			  <li><%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %></li>
			  <li><%= link_to "Account", user_path(current_user) %></li>
			</ul>
		</div>
	</div>
<div id="main">
	
	<div id="border">
		
	  <div id="form">
<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
<div id="sidebar">
 <h2>Edit your profile </h2>
  <div id="account_family">
	<%= render :partial => "form", :object => f %>
  </div>
  <h2>Edit your address</h2>
	<div id="account_family">
		<% if @user.address.blank? %>
		  	<% form_for(@address) do |address| %>
			    <%= address.hidden_field :user_id, :value => @user.id %>
			  <p>
			    <%= address.label :address %><br />
			    <%= address.text_field :address %>
			  </p>
			  <p>
				<div class="city">
				<%= address.label :city %><br />
			    <%= address.text_field :city, :size=> "25" %>
				</div>
			   <div class="state">
			    <%= address.label :state %><br />
			    <%= address.text_field :state, :size=> "2" %>
			   </div>
			   <div class="zip">
			    <%= address.label :zip %><br />
			    <%= address.text_field :zip, :size=> "5" %>
			   </div>
			   </p>
			  <p>
			    <%= address.submit 'Create' %>
			  </p>
			 <% end %>
		<% else %>
		  <% f.fields_for :address do |address| %>
	        <%= render "add", :address => address %>
		  <% end %>
		<% end %>
	</div>
	</div>
	<h2>Edit your spouse </h2>
		<div id="account_family">
	<% f.fields_for :spouse do |spouse| %>
      <%= render "spouse", :spouse => spouse %>
	  	<p>
	    <%= f.submit 'Save' %>
	  </p>
	<% end %>
		</div>
 </div>
</div>
<div id ="form">
<div id="sidebar_two">
	<h2>Edit your children </h2>
	<div id="account_family">	  
  	  <% f.fields_for :families do |family| %>
		
        <%= render "family", :family => family %>
		<p>
	    <%= f.submit 'Save' %>
	  </p>
	  <% end %>
	</div>
	<h2>Edit your pets </h2>
	<div id="account_family">
  	  <% f.fields_for :pets do |pet| %>	
        <%= render "pet", :pet => pet %>
		<p>
	    <%= f.submit 'Save' %>
	  </p>
	  <% end %>
	</div>

<% end %>
</div>
</div>
  </div>
    </div>
      </div>
<div id="footer">
	<p> Copyright Lauren Rothlisberger</p>

</div>

</body>
</html>
