<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>My Military Move</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="wrap">
  <div id="header">
	<div id="logo">
	  <%= link_to image_tag("icons/logo.png", :border=>0), account_path %>
	</div>
    <div id ="login">
	    <ul>
		  <li><%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %></li>
		  <li><%= link_to "Account", user_path(current_user) %></li>
		  <li><%= link_to "My Things", user_things_path(current_user) %></li>
		</ul>
	</div>
</div>
<div class="colmask rightmenu">
  <div class="colleft">
    <div id= "main">		
	  <div class="col1">
			<!-- Column 1 start -->

	  <div id="account_move">
			<p>
				You are currently living at or moving to:<br />
				<% if @user.installation_id.nil? %>
				  <%= @last_move.start.installation.name %> <span class="edit"><%= link_to "Change this!", edit_user_path(@user) %> </span>
				<% else %>
				  <%= @user.installation.name %> <span class="edit"><%= link_to "Change this!", edit_user_path(@user) %> </span>
				<% end %>
			</p>
	  </div>  
	  <div id="add_move">
	    <%= link_to image_tag("icons/add_a_move.png", :border=>0), new_move_path %>
	  </div>
      <div id="move_info">
			<div id="move_info_icon">
				<%= image_tag ("icons/moving_truck.png") %>
		    </div>
		<% if @moves.blank? %>
		<p>
		<span class="highlight">It looks like you don't have any moves started yet. To start a move click the "Add A Move" button above.</span>
		<% else %>
	    	<% @moves.each do |move| %>
	    	Work on my move to: <%= link_to move.start.installation.name, user_move_path(@user, move) %><br />
			<% end %>
		<% end %>
		</p>
	</div>
	

	  <div id= "sidebar">
		<div id="dark_blue">
          
          	<% if @user.installation_id.nil? %>
			 <%= link_to 'Contacts', installation_contacts_path(@last_move.start.installation) %>
			<% else %>
			  <%= link_to 'Contacts', installation_contacts_path(@user.installation) %>
			<% end %><br />
		    Find information about recommended local services in the area.
		</div>
	    <div id="account_user">
           	<% if @user.installation_id.nil? %>
			 <%= link_to 'Neighborhoods', installation_path(@last_move.start.installation) %>
			<% else %>
			  <%= link_to 'Neighborhoods', installation_path(@user.installation) %>
			<% end %><br />
			Find out more information about neighborhoods in the area.
		</div>

      </div>
    </div>
		  
      <div id="sidebar_two">
	    <div id="info_box">
		 
	
		   	<% if @user.installation_id.nil? %>
			 <h1><%= @last_move.start.installation.name %> Information<br /> 
			<span class="edit"><%= link_to 'See something wrong? Fix it!', edit_installation_path(@last_move.start.installation) %></span></h1>
			<% else %>
			 <h1><%= @user.installation.name %> Information<br />
			<span class="edit"><%= link_to 'See something wrong? Fix it!', edit_installation_path(@user.installation) %></span></h1>
			<% end %>
			We are working hard to fill in all the information below. If you see blank spots and would like to help us
			<% if @user.installation_id.nil? %>
			<%= link_to 'fill in the numbers.', edit_installation_path(@last_move.start.installation) %>
			<% else %>
			<%= link_to 'fill in the numbers.', edit_installation_path(@user.installation) %>
			<% end %>
			

			
			<div id="installation_information">
			 <div id="installation_information_image"><%= image_tag ("buttons/inprocessing.png") %></div>
			<div id="installation_information_title">In-Processing:
			<span class="installation_highlight"><% if @user.installation_id.nil? %>
			 <%= @last_move.start.installation.inprocess %>
			<% else %>
			  <%= @user.installation.inprocess %>
			<% end %></span></div><br />
			</div>
			<div id="installation_information">
			<div id="installation_information_image"><%= image_tag ("buttons/lodging.png") %></div>
			<div id="installation_information_title">Temporary Lodging:
			<span class="installation_highlight"><% if @user.installation_id.nil? %>
			 <%= @last_move.start.installation.templodge %>
			<% else %>
			  <%= @user.installation.templodge %>
			<% end %></span></div>
			</div>
			<div id="installation_information">
			<div id="installation_information_image"><%= image_tag ("buttons/inprocessing.png") %></div>
			<div id="installation_information_title">Family Services:
			<span class="installation_highlight"><% if @user.installation_id.nil? %>
			 <%= @last_move.start.installation.familyservice %>
			<% else %>
			  <%= @user.installation.familyservice %>
			<% end %></span></div>
			</div><br />
			
			<div id="installation_information">
			<div id="installation_information_image"><%= image_tag ("buttons/school.png") %></div>
			<div id="installation_information_title">School Liaison:
			<span class="installation_highlight"><% if @user.installation_id.nil? %>
			 <%= @last_move.start.installation.school %>
			<% else %>
			  <%= @user.installation.school %>
			<% end %></span></div>
			</div><br />
			
			<div id="installation_information">
			<div id="installation_information_image"><%= image_tag ("buttons/housing.png") %></div>
			<div id="installation_information_title">Housing:
			<span class="installation_highlight"><% if @user.installation_id.nil? %>
			 <%= @last_move.start.installation.housing %>
			<% else %>
			  <%= @user.installation.housing %>
			<% end %></span></div>
			</div><br />
			
			<div id="installation_information">
			<div id="installation_information_image"><%= image_tag ("buttons/hospital.png") %></div>
			<div id="installation_information_title">Hospital:
			<span class="highlight"><% if @user.installation_id.nil? %>
			 <%= @last_move.start.installation.hospital %>
			<% else %>
			  <%= @user.installation.hospital %>
			<% end %></span></div>
			</div><br />
			
			<div id="installation_information">
			<div id="installation_information_image"><%= image_tag ("buttons/commissary.png") %></div>
			<div id="installation_information_title">Commissary:
			<span class="installation_highlight"><% if @user.installation_id.nil? %>
			 <%= @last_move.start.installation.commissary %>
			<% else %>
			  <%= @user.installation.commissary %>
			<% end %></span></div>
			</div><br />
	 </div> 		
    </div>  
  </div>
<div id="footer">
	<p>Contact Us: <%= mail_to 'militarymove@gmail.com' , "militarymoveit@gmail.com"%></p>

</div>
</div>

</div>
</body>
</html>
