<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>My Military Move</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="wrap">
  <div id="header">
	<div id="logo">
	  <%= link_to image_tag("icons/logo.png", :border=>0), account_path %>
	</div>
    <div id ="login">
	    <ul>
		  <li><%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %></li>
		  <li><%= link_to "Account", user_path(current_user) %></li>
		</ul>
	</div>
</div>
<div class="colmask rightmenu">
  <div class="colleft">
    <div id= "main">		
	  <div class="col1">
			<!-- Column 1 start -->
	  <div id="welcome_message">
		<%= image_tag ("icons/welcome_text.png")%>
	  </div>
	    
	  <div id="add_move">
	    <%= link_to image_tag("icons/add_a_move.png", :border=>0), new_move_path %>
	  </div>
      <div id="move_info">
			<div id="move_info_icon">
				<%= image_tag ("icons/moving_truck.png") %>
		    </div>
		<% if @moves.blank? %>
		<p>
		<span class="highlight">It looks like you don't have any moves started yet. To start a move click the "Add A Move" button above.</span>
		<% else %>
	    	<% @moves.each do |move| %>
	    	Work on my move to: <%= link_to move.end.installation.name, user_move_path(@user, move) %><br />
			<% end %>
		<% end %>
		</p>
	</div>
	  <div id="account_move">
		<p>
	    Payment Status: <%= @user.level %> <br />
		</p>
	  </div>	

	  <div id= "sidebar">
		<div id="account_user">
	      <h1>Profile
			<div id="edit_profile">
		      <span class="edit"><%= link_to 'Edit Your Profile', edit_user_path(@user)%></span>
		    </div>
			</h1>
		  		<p>
		  		<%= @user.name %><br />
		  		<%= @user.email %><br />
		  		</p>
			  <% if @have_spouse.nil? %>
			  <h1> Spouse </h1>
				<div id ="form">
			  	<% form_for(@spouse) do |f| %>
				  <%= render :partial => "spouse", :object => f %>
				  <p>
				    <%= f.submit 'Create' %>
				  </p>
				<% end %>
				</div>
			  <% else %>
			  <h1> Spouse </h1>
				  <p>
			    	<%= @have_spouse.name %><br />
			    	<%= @have_spouse.email %><br />
				  </p>
			  <% end %>
	<!-- Address Info -->
	           
	             <% if @add.nil? %>
				<h1> Address </h1>
				  <div id="form">
				  <% form_for(@address) do |address| %>
				    <%= address.hidden_field :user_id, :value => @user.id %>
				  <p>
				    <%= address.label :address %><br />
				    <%= address.text_field :address %>
				  </p>
				  <p>
					<div class="city">
					<%= address.label :city %><br />
				    <%= address.text_field :city, :size=> "25" %>
					</div>
				   <div class="state">
				    <%= address.label :state %><br />
				    <%= address.text_field :state, :size=> "2" %>
				   </div>
				   <div class="zip">
				    <%= address.label :zip %><br />
				    <%= address.text_field :zip, :size=> "5" %>
				   </div>
				   </p>
				  <p>
				    <%= address.submit 'Create' %>
				  </p>
				 <% end %>
				</div>	
	             <% else %>
	          	<h1> Address </h1>
	             <p>
	               <%= @add.address %><br />
		           <%= @add.city %>, <%= @add.state %> <%= @add.zip %>
	             </p>
	             <% end %>
		</div>
	
      </div>
    </div>
		  
      <div id="sidebar_two">
	    <div id="account_user">
		    <h1>Kids</h1>
			  <% if @children.empty? %>
				  <% form_for(@family) do |f| %>
					<div id = "form">
				    <%= render :partial => "family", :object => f %>
					  <p>
				      <%= f.submit 'Create' %>
				      </p>
				    </div>
				  <% end %>
			  <% else %>
				 
				  <% @children.each do |child| %>
					<p>
			    	<%= child.name %><br />
					<%= child.birthday.strftime('%b %d, %Y')  %><br />
			        <%= child.school_level %><br />
					<% if child.email.blank? %>
					<% else %>
			    	<%= child.email %><br />
					<% end %>
			      </p>
			      <% end %>
			      <h2> Add Another Kid </h2>
			      <% form_for(@family) do |f| %>
					<div id = "form">
				    <%= render :partial => "family", :object => f %>
					<p>
				    <%= f.submit 'Save' %>
				    </p>
					</div>
				  <% end %>
			
			  <% end %>
			
			
			<h1>Pets</h1>
			  <% if @pets.empty? %>
				  <% form_for(@pet) do |f| %>
					<div id = "form">
				    <%= render :partial => "pet", :object => f %>
					<p>
				    <%= f.submit 'Create' %>
				  </p>
				  </div>
				  <% end %>
			  <% else %>
			   <p>
			      <% @pets.each do |pet| %>
			    	<%= pet.name %><br />
			    	<%= pet.pet_type %><br />
			   		<%= pet.breed %><br />
			    	<%= pet.microchip %><br />
				  <% end %>
			    </p>
				 
				
				  <% form_for(@pet) do |f| %>
				    <div id = "form">
				    <%= render :partial => "pet", :object => f %>
					<p>
				    <%= f.submit 'Create' %>
				  </p>
				  </div>
				  <% end %>
				<% end %>
        
	  </div>
    </div>  
  </div>
</div>
<div id="footer">
	<p> Copyright Lauren Rothlisberger</p>

</div>
</div>
</body>
</html>
