<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>My Military Move</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="wrap">
<div id="header">
	<div id="logo">
	  <%= link_to image_tag("icons/logo.png", :border=>0), users_path %>	
	</div>
    <div id ="login">
	    <ul>
		  <li><%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %></li>
		  <li><%= link_to "Account", user_path(current_user) %></li>
		</ul>
	  </div>
</div>
<div id="main">
	<div id="border">
	  <div id="form">
		  <h1>Editing move</h1>

		<% form_for(@move, @start) do |f| %>
		  <%= f.error_messages %>


			<p>
				<% f.fields_for :start do |s| %>
				    <%= s.hidden_field :move_id, :value => @move.id %>
				    
					<%= s.label :installation_id, "Moving To" %><br />
					<%= s.collection_select :installation_id, Installation.find(:all), :id, :name, :prompt => "Select a Location" %>     
					or create one:
					 <%= s.text_field :new_installation_name %>
					
			     <% end %>
			</p>
			<p>
				<% f.fields_for :end do |e| %>
				    <%= e.hidden_field :move_id, :value => @move.id %>
					<%= e.label :installation_id, "Moving From" %><br />
					<%= e.collection_select :installation_id, Installation.find(:all), :id, :name, :prompt => "Select a Location" %>
					or create one:
					<%= e.text_field :new_installation_name  %>
				<% end %>
			</p>
			<p>
				<%= f.label :date, "Move Date (*just take a guess)" %><br />
				<%= f.date_select(:date, :order => [:month, :day, :year]) %>

			</p>
		  <p>
		    <%= f.submit 'Update' %>
		  </p>
		<% end %>

</div>
  </div>
    </div>
	<div id="footer">
		<p>Contact Us: <%= mail_to 'militarymove@gmail.com' , "militarymoveit@gmail.com"%></p>

	</div>
      </div>


</body>
</html>
