<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>My Military Move</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link href="application.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wrap">
<div id="header">
	<div id="header">
	  <%= render :partial => "shared/navigation_bar" %>
	</div>

</div>
<div class="colmask rightmenu">

	<div class="colleft">

		
		<div class="col1">
			<!-- Column 1 start -->
		  <div id="account_move">
		  <%= image_tag("icons/move_map.png", :border=>0) %>
			<p>
			<%= @start.name %>
			
 to <%= @end.name %> <br />
			<%= @move.date.strftime("%B %d, %Y") %> <span class="edit"><%= link_to "edit your move information", edit_move_path(@move) %></span><br />
			<span class="highlight">You have <%= (@move.date.to_date - Date.today) %> days until your move.</span>
			
			</p> 
		  </div>
		  
		   <div id="day_border_one">
		    <div id="day">
			  
		      <h1>Today</h1>
		        <% if @today.blank? %>
					Nothing on the agenda.
				<% else %>
				  <% @today.each do |t| %>
					<ul>
		    			<li><%= t.name %></li>
		    		</ul>	
				  <% end %>
				<%end %>
		    </div>
		    <div id="day">
		      <h1>Tomorrow</h1>
				<% if @tomorrow.blank? %>
					Kick your feet up and relax, nothing on schedule today!
				<% else %>
				  <% @tomorrow.each do |t| %>
					<ul>
		    			<li><%= t.name %></li>
		    		</ul>
				  <% end %>
				<%end %>
		    </div>

		    <div id="day">
		      	<h1><%=(Date.today + 2.days).strftime('%B %d') %></h1>
					<% if @nextday.blank? %>
						In two days you will have nothing to do!
					<% else %>
					<ul>
						<li>
					  		<% @nextday.each do |t| %>
						</li>
					</ul>
						<%= t.name %>
					  <% end %>
					<%end %>
		    </div>
		  </div>
		  <div id="border">
		    <div id="lists">
		    <h1>Your Current Lists</h1>
				<% if @lists.blank? %>
					You have no lists written yet. Time to <span class='highlight'><%= link_to 'get started!', move_lists_path(@move) %></span>
				<% else %>
				<% @lists.each do |l| %>
		    	  <ul>
		    		<li><%= l.name %></li>
		    	  </ul>
				<% end %>
			  <% end %>
		    </div>
		  </div>
		  <div id="border">
		  <h1>Research</h1>
			You have <%= @neighborhoods.size %> Neighborhoods saved. Work on my <span class='highlight'><%= link_to 'neighborhoods', move_neighborhoods_path(@move) %>.</span><br />
		    You have <%= @homes.size %> Homes saved. Work on my <span class='highlight'><%= link_to 'homes', move_homes_path(@move) %>.</span><br />
		    You have <%= @schools.size %> Schools saved. Work on my <span class='highlight'><%= link_to 'schools', move_schools_path(@move) %>.</span><br />
		  </div>
			<!-- Column 1 end -->
		</div>
		<div class="col2">
			<!-- Column 2 start -->
		  <div id="account_user">
		    	<span class="edit_user"><%= link_to "edit your profile", edit_user_path(@user) %></span>
		    <h1>User Account Information</h1>
		      <p>
		        <%= @user.name %><br />
		  		<%= @user.email %><br />
		  	  </p>
		
		  	<h1>Spouse</h1>
		  
		  		<% if @spouse.nil? %>

		  		<% else %>
			
		  		  <p>
		      		<%= @spouse.name %><br />
		      		<%= @spouse.email %><br />
		      	  </p>
		  		<% end %>
		  
		
		  		<% if @family.nil? %>

		  		<% else %>
				  <h1>Kids</h1>
			  		
			  		<% @family.each do |child| %>
					<p>
		    			<%= child.name %><br />
		        		<%= child.school_level %><br />
		    			<%= child.email %><br />
					</p>
					<% end %>
		      		
			  		
		  		<% end %>
		
		  		<% if @pets.empty? %>

		  		<% else %>
		  		  <h1>Pets</h1>
		   			<p>
		    		  <% @pets.each do |pet| %>
		    			<%= pet.name %><br />
		    			<%= pet.pet_type %><br />
		    			<%= pet.breed %><br />
		    			<%= pet.microchip %><br />
			  		  <% end %>
					</p>
				<% end %>
		</div>
			<!-- Column 2 end -->
	</div>
  </div>
</div>
<div id="footer">
	<p> Copyright Lauren Rothlisberger</p>

</div>
</div>
</body>
</html>
