<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>My Military Move</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link href="application.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wrap">
<div id="header">
	<div id="header">
	  <%= render :partial => "shared/navigation_bar" %>
	</div>

</div>
<div class="colmask rightmenu">

	<div class="colleft">

		
		<div class="col1">
			<!-- Column 1 start -->
		  <div id="account_move">
		  <img src="../images/icons/move_map.png" alt="Moving" width="65" height="40" border="none" />
			<p>
			<%= @move.to.upcase %> to <%= @move.from.upcase %> <br />
			<%= @move.date.strftime("%B %d, %Y") %> <span class="edit"><%= link_to "edit your move information", edit_move_path(@move) %></span><br />
			<span class="highlight">You have <%= (@move.date.to_date - Date.today) %> days until your move.</span>
			
			</p> 
		  </div>
		  <div id="weather_dashboard">
		  	Today's Weather in <%= @move.to.upcase %>
		  	<div id="weather_dashboard_temps">
		  	  HIGH TEMP: 75<br />
		  	  LOW TEMP: 55
		  	</div>
		    <div id="weather_dashboard_icon">
		  	  <img src="../images/icons/sunny.png" alt="Add A Neighborhood" width="60" height="60" border="none" />
		  	</div>
		 
		  </div>
		      <div id="day_border_one">
		    <div id="day">
		      <h1>Tuesday, March 7th</h1>
		        <ul>
		    		<li>Pick up shot records for dogs.</li>
		    		<li>Pick up medical records for kids.</li>
		    		<li>Movers Walk Through.</li>
		    	</ul>
		    </div>
		    <div id="day">
		      <h1>Wednesday, March 8th</h1>
		        <ul>
		    		<li>Get POAs renewed.</li>
		    	</ul>
		    </div>
		    <div id="day_padding">
		    </div>
		    <div id="day">
		      <h1>Thursday, March 9th</h1>
		        <ul>
		    		<li>Take apart swing set.</li>
		    		<li>Take things to Good Will.</li>
		    	</ul>
		    </div>
		  </div>
		  <div id="border">
		    <div id="lists">
		    <h1>Your Current Lists</h1>
		    	<ul>
		    		<li>To Pack in the Car for DITY</li>
		    		<li>To Pack Before the Movers Arrive</li>
		    		<li>Phone Calls to Make</li>
		    		<li>Paper Work to Get in Order for Closing Date</li>
		    	</ul>
		    </div>
		  </div>
		  <div id="border">
		  Research
		    <ul>
		      <li>You have 5 Neighborhoods Saved</li>
		      <li>Your have 17 Homes Saved</li>
		      <li>Your have 10 Schools Saved</li>
		    </ul>

		  </div>
			<!-- Column 1 end -->
		</div>
		<div class="col2">
			<!-- Column 2 start -->
		  <div id="account_user">
		  <p>
		  User Account Information
		  </p>
		  Lauren Rothlisberger (get name in user data)<br />
		  <%= @user.login %><br />
		  <%= @user.email %><br />
		  <span class="edit_user"><%= link_to "edit your profile", edit_user_path(@user) %></span>
		  </div>
		  <% if @spouse.empty? %>

		  <% else %>
			<div id="account_family">
			  <p>
			  <% @spouse.each do |spouse| %>
		    	<%= spouse.name %><br />
		    	<%= spouse.email %><br />
		    	<span class="edit_family"><%= link_to "edit your profile", edit_user_path(spouse) %></span>
		      </p>
		    </div>
			  <% end %>
		  <% end %>
		
		  <% if @children.empty? %>

		  <% else %>
			<div id="account_family">
			  <p>
			  <% @children.each do |child| %>
		    	<%= child.name %><br />
		        <%= child.school_level %><br />
		    	<%= child.email %><br />
		    	<span class="edit_family"><%= link_to "edit your profile", edit_user_path(child) %></span>
		      </p>
		    </div>
			  <% end %>
		  <% end %>
		  <% if @children.empty? %>

		  <% else %>
		  <div id="account_family">
		   <p>
		    <% @pets.each do |pet| %>
		    <%= pet.name %><br />
		    <%= pet.pet_type %><br />
		    <%= pet.breed %><br />
		    <%= pet.microchip %><br />
		    <span class="edit_family"><%= link_to "edit your pet", edit_user_pet_path(@user, pet) %></span>
		    </p>
		  </div>
			  <% end %>
			<% end %>
			<!-- Column 2 end -->
		</div>
	</div>
</div>
<div id="footer">
	<p> Copyright Lauren Rothlisberger</p>

</div>
</div>
</body>
</html>
