<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>

</head>
<body>
<div class="wrap">
<div id="header">
  <%= render :partial => "shared/navigation_bar" %>
</div>
<div class="colmask rightmenu">

	<div class="colleft">
		<div id="move">
				<p>
				<%= @move.from.upcase %> to <%= @move.to.upcase %> on <%= @move.date.strftime("%B %d, %Y") %> 
				</p> 
				<span class="edit"><%= link_to 'edit your move', edit_move_path(@move)%></span>
		</div>
		
<div class="col1">
			<!-- Column 1 start -->
<div id="homes_header">
			<div id="add_home_button">
			<%= link_to image_tag("buttons/add_a_home.png", :border=>0), new_move_home_path(@move) %>
			</div>

</div>
<h1>You have <%= @homes.size %> homes saved.</h1>
<% @homes.each do |home| %>	
<div id="border">
	<div id="home_category_tab">
		<span class="highlight_home_category"><%= home.category %></span>
	</div>

<div id="info">
<h1>
<%= home.name %><br />
<%= home.address %>  	<span class="edit"><%= link_to 'edit | ', edit_move_home_path(@move, home) %></span><span class="delete"><%= link_to 'delete', home, :confirm => 'Are you sure?', :method => :delete %> </span><br />
<%= home.city %>, <%= home.state %> <%= home.zip %> <br />
</h1>

<p>
<span class="highlight"><%= home.drive %> Minutes</span> (<%= home.distance %> Miles)<br />
Price: <%= home.price %><br />
Bedrooms: <%= home.bedrooms %> | Bathrooms: <%= home.bathrooms %> <br />
<% if home.neighborhood_id.nil? %>
No Neighborhood Listed.
<% else %>
Neighborhood: <%= home.neighborhood.name %><br />
<% end %>
</p>

<p>
<%= link_to home.link, home.link %>
</p>
</div>

<div id="con_list">
	<h1>Cons</h1>
	<div id="pro_con_form">
	<p>
		<% form_for([@con]) do |f| %>
		  <%= f.error_messages %>

		  <p>
		    <%= f.text_field :con, :size => 20 %>
		  </p>
		  <p>
		    <%= f.hidden_field :negative_id, :value => home.id %>
		  </p>
		  <p>
		    <%= f.hidden_field :negative_type, :value => "Home" %>
		  </p>
		  <p>
		    <%= f.submit 'Add' %>
		  </p>
		<% end %>
	</p>
	</div>
	<ul>
	<% home.cons.each do |c| %>
	<li><%= c.con %> <span class= "delete"><%= link_to 'delete', c, :confirm => 'Are you sure?', :method => :delete %> </span></li>
	<% end %>
	</ul>
</div>
<div id="pro_list">
	<h1>Pros</h1>
	<div id="pro_con_form">
	<p>
		<% form_for([@pro]) do |f| %>
		  <%= f.error_messages %>

		  <p>
		    <%= f.text_field :pro, :size => 20 %>
		  </p>
		  <p>
		    <%= f.hidden_field :positive_id, :value => home.id %>
		  </p>
		  <p>
		    <%= f.hidden_field :positive_type, :value => "Home" %>
		  </p>
		  <p>
		    <%= f.submit 'Add' %>
		  </p>
		<% end %>
	</p>
	</div>
	<ul>
	<% home.pros.each do |p| %>
	<li><%= p.pro %> <span class= "delete"><%= link_to 'delete', p, :confirm => 'Are you sure?', :method => :delete %> </span></li>
	<% end %>
	</ul>
</div>
<div id="home_note">
	<%= image_tag("buttons/take_a_home_note.png", :border=>0) %>
	<p>
      <%= simple_format(home.note) %>
	</p>
</div>
</div>

<% end %>
			<!-- Column 1 end -->
</div>

<div class="col2">
	<!-- Column 2 start -->
	
</div>
<div id="footer">
	<p> Copyright Lauren Rothlisberger</p>

</div>
</div>
</body>
</html>
