<h1>Editing start</h1>

<% form_for(@start) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :move_id %><br />
    <%= f.text_field :move_id %>
  </p>
  <p>
    <%= f.label :installation_id %><br />
    <%= f.text_field :installation_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @start %> |
<%= link_to 'Back', starts_path %>