<p>
  <b>Pro:</b>
  <%=h @pro.pro %>
</p>

<p>
  <b>Positive:</b>
  <%=h @pro.positive_id %>
</p>

<p>
  <b>Positive type:</b>
  <%=h @pro.positive_type %>
</p>


<%= link_to 'Edit', edit_pro_path(@pro) %> |
<%= link_to 'Back', pros_path %>