<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>My Military Move</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="wrap">
<div id="header">
<%= render :partial => "shared/navigation_bar" %>
</div>
<div class="colmask rightmenu">

	<div class="colleft">
		<div id="move">
				<p>
				<%= @start.name.upcase %> to <%= @end.name.upcase %>  on <%= @move.date.strftime("%B %d, %Y") %> 
				</p> 
				<span class="edit"><%= link_to 'edit your move', edit_move_path(@move)%></span>
		</div>
		
<div class="col1">
			<!-- Column 1 start -->
<div id="research_header">
	<p>
		<h1>You have <%= @schools.size %> schools saved.</h1>
	</p>

			<div id="add_button">
			<%= link_to image_tag("buttons/add_a_school.png", :border=>0), new_move_school_path(@move) %>
			</div>
</div>	
<% @schools.each do |school| %>		
<div id="border">

<!--div id="school_for_child">
	<%= school.families %>
</div-->
<div id="edit_position">

</div>
<div id="info_school">
<h1><%= school.name %>  <span class="edit"><%= link_to 'edit | ', edit_move_school_path(@move, school) %></span><span class="delete"><%= link_to 'delete', school, :confirm => 'Are you sure?', :method => :delete %></span></h1>
<%= school.address %> <br />
<%= school.city %>, <%= school.state %> <%= school.zip %> <br />

<p>
<span class="highlight"><%= school.drive %> Minutes</span><br />
<%= school.level %><br />
<%= school.school_type %><br />
Tuition: <%= school.cost %><br />
<%= link_to school.link, school.link %>
</p>

</div>

<div id="con_list">
	<h1>Cons</h1>
	<div id="pro_con_form">
	<p>
		<% form_for([@con]) do |f| %>
		  <%= f.error_messages %>

		  <p>
		    <%= f.text_field :con, :size => 20 %>
		  </p>
		  <p>
		    <%= f.hidden_field :negative_id, :value => school.id %>
		  </p>
		  <p>
		    <%= f.hidden_field :negative_type, :value => "School" %>
		  </p>
		  <p>
		    <%= f.submit 'Add' %>
		  </p>
		<% end %>
	</p>
	</div>
	<ul>
	<% school.cons.each do |c| %>
	<li><%= c.con %> <span class= "delete"><%= link_to 'delete', c, :confirm => 'Are you sure?', :method => :delete %> </span></li>
	<% end %>
	</ul>
</div>
<div id="pro_list">
<h1>Pros</h1>
<div id="pro_con_form">
<p>
	<% form_for([@pro]) do |f| %>
	  <%= f.error_messages %>

	  <p>
	    <%= f.text_field :pro, :size => 20 %>
	  </p>
	  <p>
	    <%= f.hidden_field :positive_id, :value => school.id %>
	  </p>
	  <p>
	    <%= f.hidden_field :positive_type, :value => "School" %>
	  </p>
	  <p>
	    <%= f.submit 'Add' %>
	  </p>
	<% end %>
</p>
</div>
<ul>
<% school.pros.each do |p| %>
<li><%= p.pro %> <span class= "delete"><%= link_to 'delete', p, :confirm => 'Are you sure?', :method => :delete %> </span></li>
<% end %>
</ul>
</div>
<div id="home_note">
	<%= image_tag("buttons/take_a_school_note.png", :border=>0) %>
	<p>
      <%= simple_format(school.note) %>
	</p>
</div>
</div>
<% end %>

			<!-- Column 1 end -->
</div>

<div class="col2">
	<!-- Column 2 start -->
	
	<!-- Column 2 end -->
</div>


</div>
</div>
<div id="footer">
	<p>Contact Us: <%= mail_to 'militarymove@gmail.com' , "militarymoveit@gmail.com"%></p>

</div>
</div>
</body>
</html>
