<p>
  <b>Research:</b>
  <%=h @school.research_id %>
</p>

<p>
  <b>Neighborhood:</b>
  <%=h @school.neighborhood_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @school.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @school.address %>
</p>

<p>
  <b>City:</b>
  <%=h @school.city %>
</p>

<p>
  <b>State:</b>
  <%=h @school.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @school.zip %>
</p>

<p>
  <b>Link:</b>
  <%=h @school.link %>
</p>

<p>
  <b>Phone:</b>
  <%=h @school.phone %>
</p>

<p>
  <b>Level:</b>
  <%=h @school.level %>
</p>

<p>
  <b>Family:</b>
  <%=h @school.family_id %>
</p>


<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>