<%= stylesheet_link_tag 'off_post_housing' %>

<div id="header">
  	<div id="logo">
	<%= link_to image_tag("icons/logo_small.png", :border=>0), root_url %>
    </div>	
</div>

<div id="wrap">
	<div id ="post_header">
		<%= image_tag('articles/off_post_housing/header.jpg')%>
	</div>

	<div id="main">
	  <div id="intro">
		<p>
		Whether it is your first, fifth or fifteenth move it happens every time the orders come down. Your first thought is “where are we going to live?” Every military family knows that making that new house a home is so essential to making a smooth transition from one location to the next. Now the question is, where? This article is going to focus on off-post housing. It is always a good idea to get on the on-post housing list once you have orders no matter what your plan.</p>
		<p>
		More than likely you are researching your new neighborhood long-distance. You want to just jump in your car and drive around, but you can’t. Some military installations may have many options around while others it will be simpler to narrow down.
		Below are a some questions to consider and ideas on how to find the answers. Remember use <%= link_to 'militarymoveit.com', 'http://www.militarymoveit.com'%> to track all your neighborhood research.</p>
	  </div>
	  <div id="container_one">
		<%= image_tag('articles/off_post_housing/title_1.jpg')%>
		  <p>
			<span style='font-weight:bold'>Questions to ask yourself:</span><br />
			  <ul>
			<li>What type of location are you looking for? </li>
			<li>Do you want an on-post "feel", but off-post housing or would you rather get away from it all?</li> 
			<li>What type of community do you want to be a part of?</li>
			<li>Do you want a new sub-division or an older established area?</li>
			  </ul>
			<div class="links">
			<span style='font-weight:bold'>Resources:</span> <%= link_to 'google maps', "http://www.google.com" %>, <%= link_to 'city data', "http://www.citydata.com"%>
			</div><br />
			<div class="bonus">
			**Use <%= link_to 'militarybyowner.com', "http://www.militarybyowner.com" %> to pinpoint location military are currently living.<br /> **Use <%= link_to 'militarydutystations.com', "http://www.militarydutystations.com/" %> to find out local information from other military members. 
			</div>
		  </p>
		<%= image_tag('articles/off_post_housing/title_2.jpg')%>
		<p>
			<span style='font-weight:bold'>Questions to ask yourself:</span><br />
			  <ul>
			<li>How far is the military member willing to drive to work? </li>
			<li>Where will they work on the installation? (at a large installation that can add time to the commute)</li> 
			<li>What others things will you need to be close to? eg. Spouse's job, kid's schools, etc...</li>
			<li>If moving to a bigger city don't forget about traffic. Use resources to get estimates on driving during on and off times. </li>
			  </ul>
			<div class="links">
			<span style='font-weight:bold'>Resources:</span> <%= link_to 'google maps', "http://www.google.com" %>, <%= link_to 'city data', "http://www.citydata.com" %>
			</div><br />
		  </p>
		<%= image_tag('articles/off_post_housing/title_3.jpg')%>
	     <p>
			<span style='font-weight:bold'>Questions to consider:</span><br />
			  <ul>
			<li>If you are looking for a new home, have you researched the builder for quality? </li>
			<li>If this is a new part of town, have you researched what else will be built close by? Would that raise or lower your property value? </li>
			<li>If you are looking at an old home, how much up-keep will it require? Will it be easy to keep this up if the military member is overseas?</li> 
			<li>Do you plan on keeping and renting or selling the home? What would be the pros and cons of both?</li>
			  </ul>
			<div class="links">
			<span style='font-weight:bold'>Resources:</span> <%= link_to 'militarybyowner.com', "http://www.militarybyowner.com" %> <%= link_to 'militaryforsalebyowner.net', "http://www.militaryforsalebyowner.net" %> <%= link_to 'truila', "http://www.truila.com" %>, <%= link_to 'zillow', "http://www.zillow.com" %> <%= link_to 'craigslist', "http://www.craigslist.com" %> <%= link_to 'realtor', "http://www.realtor.com" %>
			</div><br />
			<div class="bonus">
			**Contact a real estate agent in the area and ask to be put on a weekly/daily email drips list with the criteria of homes you are looking for. There is no obligation and will help you starting weeding through the many options.
			</div>
		  </p>
		<%= image_tag('articles/off_post_housing/title_4.jpg')%>
	     <p>
			<span style='font-weight:bold'>Questions to consider:</span><br />
			  <ul>
			<li>Do you want to be close to shopping? </li>
			<li>What do your children need to be close to? Sports? Arts? </li> 
			<li>Would you rather be close to the outdoors?</li>
			<li>What do you spend your spare time doing?</li>
			<li>What is the right fit for your family?</li>
			  </ul>
			<div class="links">
			<span style='font-weight:bold'>Resources:</span> <%= link_to 'urbanspoon', "http://www.urbanspoon.com" %>, <%= link_to 'yelp', "http://www.yelp.com" %> <%= link_to 'craigslist', "http://www.craigslist.com" %> <%= link_to 'greatschools.net', "http://www.greatschools.net" %>
			</div><br />
		  </p>
		<div id="footer">
		This article brought to you by: <%= link_to image_tag("icons/logo_small.png", :border=>0), 'http://www.militarymoveit.com' %>
		</div>
	  </div>
	  <div id="container_two">
		<table>
			<h1>SOCIAL MEDIA TOOLBOX</h1>
			<tr>
				<td><%= image_tag('articles/off_post_housing/facebook.png')%></td>
				<td>Facebook Pages: Find your future installation's fan page. You will find plenty of people with answers to questions you have.</td>
			</tr>
			<tr>
				<td><%= image_tag('articles/off_post_housing/google.png')%></td>
				<td>Google Earth: Use Earth's satellite view to zoom in and scope out the surrounding areas. Look for both positive and negative things around the neighborhood. </td>
			</tr>
			<tr>
				<td><%= image_tag('articles/off_post_housing/twitter.png')%></td>
				<td>Twitter: Using twitter search tools you can search key words and find out what the buzz is about a neighborhood you are considering.</td>
			</tr>
			<tr>
				<td><%= image_tag('articles/off_post_housing/flickr.png')%></td>
				<td>Flickr: Many of us learn through images. Use flickr search to find images of the neighborhoods you are considering.</td>
			</tr>
		</table>
	  </div>

    </div>
	<div id="footer">
	  
	</div>
</div>

