	
<html>
<head>
	<title>My Military Move</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link href="../application.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wrap">
<div id="header">
  <%= render :partial => "shared/navigation_bar" %>
</div>
<div class="colmask rightmenu">

	<div class="colleft">
		<div id="move">
				<p>
				<%= @start.name.upcase %> to <%= @end.name.upcase %>  on <%= @move.date.strftime("%B %d, %Y") %> 
				</p> 
				<span class="edit"><%= link_to 'edit your move', edit_move_path(@move)%></span>
		</div>
		
<div class="col1">
		
			<!-- Column 1 start -->
			<div id="research_header">
			<p>
			<h1>You have <%= @neighborhoods.size %> neighborhoods saved.</h1>
			</p>
			<div id="add_button">
			<%= link_to image_tag("buttons/add_neighborhood.png", :border=>0), new_move_neighborhood_path(@move) %>
			</div>
			</div>
<% @neighborhoods.each do |neighborhood| %>
<div id="border">
	<div id="delete_button">
		<span class="delete"><%= link_to 'delete', neighborhood.communities.find_by_neighborhood_id(neighborhood.id), :confirm => 'Are you sure?', :method => :delete %> </span> 
	</div>
<div id="info">
<h1><%= link_to neighborhood.name, move_neighborhood_path(@move, neighborhood) %></h1> 

<span class="highlight"><%= neighborhood.drive_distance %> Miles</span><br />
<%= neighborhood.distance %> Miles
<div class="homes_saved">
<p>
<strong>Homes saved in <%= neighborhood.name %>:</strong><br />
<% neighborhood.homes.find(:all, :conditions => ['move_id = ?', @move.id]).each do |h| %>
  <%= h.address %>
<% end %><br />
<%= link_to image_tag("buttons/add_a_home_small.png", :border=>0), new_move_home_path(@move)%>
</p>
</div>

</div>
<div id="con_list">
	<h1>Cons</h1>
	<div id="pro_con_form">
	<p>
		<% form_for([@con]) do |f| %>
		  <%= f.error_messages %>

		  <p>
		    <%= f.text_field :con, :size => 20 %>
		  </p>
		  <p>
		    <%= f.hidden_field :negative_id, :value => neighborhood.id %>
		    <%= f.hidden_field :move_id, :value => @move.id %>
		  </p>
		  <p>
		    <%= f.hidden_field :negative_type, :value => "Neighborhood" %>
		    
		  </p>
		  <p>
		    <%= f.submit 'Add' %>
		  </p>
		<% end %>
	</p>
	</div>
	<ul>
	<% neighborhood.cons.find(:all, :conditions =>['move_id = ?', @move.id]).each do |c| %>
	<li><%= c.con %> <span class= "delete"><%= link_to 'delete', c, :confirm => 'Are you sure?', :method => :delete %> </span></li>
	<% end %>
	</ul>
</div>
<div id="pro_list">
<h1>Pros</h1>
<div id="pro_con_form">
<p>
	<% form_for([@pro]) do |f| %>
	  <%= f.error_messages %>

	  <p>
	    <%= f.text_field :pro, :size => 20 %>
	  </p>
	  <p>
	    <%= f.hidden_field :positive_id, :value => neighborhood.id %>
	  </p>
	  <p>
	    <%= f.hidden_field :positive_type, :value => "Neighborhood" %>
	    <%= f.hidden_field :move_id, :value => @move.id %>
	  </p>
	  <p>
	    <%= f.submit 'Add' %>
	  </p>
	<% end %>
</p>
</div>
<ul>
<% neighborhood.pros.find(:all, :conditions =>['move_id = ?', @move.id]).each do |p| %>
<li><%= p.pro %> <span class= "delete"><%= link_to 'delete', p, :confirm => 'Are you sure?', :method => :delete %> </span></li>
<% end %>
</ul>
</div>

<div id="home_note">
	<% if neighborhood.neighborhood_notes.find(:all, :conditions => ['move_id =?', @move.id]).size.to_i == 0 %>
	   <%= link_to image_tag("buttons/add_note.png", :border=>0), new_move_neighborhood_neighborhood_note_path(@move,neighborhood) %>
	
  
	 
	<% elsif neighborhood.neighborhood_notes.find(:all, :conditions => ['move_id =?', @move.id]).size.to_i > 0 %>
	<% neighborhood.neighborhood_notes.find(:all, :conditions => ['move_id =?', @move.id]).each do |n| %>
	  <%= link_to image_tag("buttons/edit_note.png", :border=>0), edit_move_neighborhood_neighborhood_note_path(@move, neighborhood, n) %>
	  
	   <%= simple_format(n.note) %>
	<% end %>
	<p>
		
    
  <% end %>
	</p>
</div>
</div>
<% end %>
</div>

<div class="col2">
	<!-- Column 2 start -->
	Neighborhoods Others Have Entered for <%= @end.name %>
	<p>
	<% @all.each do |a| %>
	   <%= link_to a.name, move_neighborhood_path(@move, a) %> (click to read more)<br />
	   Distance: <%= a.distance %> miles<br />
	   Drive time: <%= a.drive_distance %> minutes<br />
	   <br />
	<% end %>
	</p>
</div>

</div>

</div>
<div id="footer">
	<p>Contact Us: <%= mail_to 'militarymove@gmail.com' , "militarymoveit@gmail.com"%></p>

</div>
</body>
</html>