<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>My Military Move</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="wrap">
<div id="header">
<%= render :partial => "shared/navigation_bar" %>
</div>
<div id="main">
	<div id="border">
	  <div id="form">
<h1>Add A Neighborhood</h1>

<% form_for([:move, @neighborhood]) do |f| %>
  <%= f.error_messages :header_message => nil, :message => "Please fix the following field(s):"%>
  <% f.fields_for :communities do |c| %>
    <%= c.hidden_field :move_id, :value => @move.id %>
    <%= c.hidden_field :neighborhood_id, :value => @neighborhood.id %>
  <% end %>
<div id="sidebar">
		<%= f.hidden_field :move_id, :value => @move.id %>
		<%= f.hidden_field :installation_id, :value => @move.end.installation.id %>
  	  <p>
	    <%= f.label :name, "Neighborhood/Town/Subdivision Name" %><br />
	    <%= f.text_field :name %>
	  </p>
	<p>
	    <%= f.label :location, "This neighborhood is located:" %> 
	    <%= f.select(:location, [["Please Select", ""], ["On-Post/Base", "On-Post/Base"], ["Off-Post/Base", "Off-Post/Base"]]) %>
	  </p>
	  <p>
	    <%= f.label :category, "This neighborhood is best described as a:" %> 
	    <%= f.select :category, [["Please Select", ""], ["City/Town", "City/Town"], ["Sub-Division", "Sub-Division"], ["Neighborhood", "Neighborhood"], ["General Area", "General Area"]] %>
	  </p>
	  <p>
	    <%= f.label :distance %><br />
	    <span class="highlight">How far (in miles) is this neighborhood to <%= @move.to %>?</span><br />
	    <%= f.text_field :distance, :size => '2' %> Miles
	  </p>
	  <p>
	    <%= f.label :drive_distance %><br />
	    <span class="highlight">How long will it take to drive to <%= @move.to %>?</span><br />
	    <%= f.text_field :drive_distance, :size => '2' %> Minutes
	  </p>
	  <p>
	    <%= f.label :school_district %><br />
	    <span class="highlight">Choosing a school district may help you narrow down your neighborhoods or homes of interest.</span><br />
	    <%= f.text_field :school_district %>
	  </p>
	</div>

	<div id="note">
		<p>
	    <%= f.label :info, "What other information do you know about this neighborhood?" %><br />
	    <%= f.text_area :info, :size => '75x10' %>
	  </p>
	  <p>
	    <% f.fields_for :neighborhood_notes do |n| %>
	       <%= n.hidden_field :move_id, :value => @move.id %>
	       <%= n.label :note, "Do you have any personal notes you would like to jot down about this place?"%>
	       <%= n.text_area :note, :size => '75x10' %>
	    <% end %>
	  </p>
	</div>
	<div id="button">
	  <p>
	    <%= f.submit 'Create' %>
	  </p>
	</div>
	<% end %>

  </div>
    </div>
      </div>
<div id="footer">
	<p> Copyright Lauren Rothlisberger</p>

</div>

</body>
</html>
