<h1>Editing review</h1>

<% form_for(@review) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :neighborhood_id %><br />
    <%= f.text_field :neighborhood_id %>
  </p>
  <p>
    <%= f.label :review %><br />
    <%= f.text_area :review %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @review %> |
<%= link_to 'Back', reviews_path %>