<p>
  <b>Con:</b>
  <%=h @con.con %>
</p>

<p>
  <b>Negative:</b>
  <%=h @con.negative_id %>
</p>

<p>
  <b>Negative type:</b>
  <%=h @con.negative_type %>
</p>


<%= link_to 'Edit', edit_con_path(@con) %> |
<%= link_to 'Back', cons_path %>