<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" >
<head>
	<title>My Military Move</title>
    <link href="index.css" media="screen" rel="stylesheet" type="text/css" />
	<link href=' http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
	<div id="header">
		<div id="left_header">
		<div id="logo">
		<%= link_to image_tag("icons/logo_small.png", :border=>0), root_url %>
        </div>	
		  <div id= "facebook">
		    <%= link_to image_tag("icons/facebook.png", :border=>0), "http://www.facebook.com/militarymoveit" %>
		  </div>
		</div>
		<div id="header_form">
		<% form_for @user_session, :url => user_session_path do |f| %>
		  <%= error_messages_for "user_session", :header_message => nil, :message => nil, :id => 'LoginErrorExplanation' %>

		  <%= f.label :email %>
		  <%= f.text_field :email, :size => '20' %>
		  <%= f.label :password %>
		  <%= f.password_field :password, :size => '20' %>
		  <%= f.check_box :remember_me %><%= f.label :remember_me %>
		  <%= f.submit "Login" %>
		<% end %>
		<p><span class="notify">**If you are logging in with the user name "guest" login with the email guest@mail.com instead.</span></p>
		</div>
	  
	</div>
<div class= "wrap">	
	<h1>Organize your military move.</h1>
	<h2>itinerary, calendar, lists & notes, research on neighborhoods, homes & schools</h2>

	<div id="blue_square">
	  <div id="beta">	
	    <p><h2><%= link_to "What is this all about? Take a tour.", {:controller => "/tour", :action => "index"} %> </h2></p>
	  </div>		
		<div id="price_tag">
			<%= image_tag("index/price_tag.png", :border=>0) %>
		</div>
		<%= error_messages_for "user", :header_message => nil, :message => nil %>
		<div id="new_user_form">
		<% form_for @user do |f| %>
			
			<br />

			<div id= 'new_user_form_row'>
			<%= f.label :name %>
			<%= f.text_field :name, :size =>'30' %><br /></div>
			<div id= 'new_user_form_row'>
			<%= f.label :email, "Email " %>
			<%= f.text_field :email, :size =>'30' %><br /></div>
			
			<div id= 'new_user_form_row'>
			<%= f.label :password, f.object.new_record? ? nil : "Change password" %>
			<%= f.password_field :password, :size =>'30' %><br />
			</div>
			<div id= 'new_user_form_row'>
			<%= f.label "Where do you live?" %>
			<%= f.collection_select :installation_id, Installation.find(:all, :order => "name"), :id, :name, :prompt => "Select a Location" %><br />
			<p style =color:#fff> or create one:
			<%= f.text_field :new_installation_name, :size =>'25'  %></p>
			</div>

			
			</div>
			
			<div id="submit">
		    <%= image_submit_tag ("buttons/get_started.png", :border=>0) %>
			</div>
		    </p>
			
		<% end %>
		</div>	
	</div>
	<div id="contest">
		<%= link_to image_tag("index/contest_annoucement_index.png", :border=>0), installations_path %>
	</div>
</div>
<div id="footer">
	<div id="index_image">
	  <%= image_tag ("index/index_image_footer.png", :border=>0) %>
	</div>
</div>
</div>
</body>
</html>


<br />
<br />
