<p>
  <b>User:</b>
  <%=h @apartment.user_id %>
</p>

<p>
  <b>Move:</b>
  <%=h @apartment.move_id %>
</p>

<p>
  <b>Research:</b>
  <%=h @apartment.research_id %>
</p>

<p>
  <b>Neighborhood:</b>
  <%=h @apartment.neighborhood_id %>
</p>

<p>
  <b>Address:</b>
  <%=h @apartment.address %>
</p>

<p>
  <b>City:</b>
  <%=h @apartment.city %>
</p>

<p>
  <b>State:</b>
  <%=h @apartment.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @apartment.zip %>
</p>

<p>
  <b>County:</b>
  <%=h @apartment.county %>
</p>

<p>
  <b>Drive:</b>
  <%=h @apartment.drive %>
</p>

<p>
  <b>Distance:</b>
  <%=h @apartment.distance %>
</p>

<p>
  <b>School district:</b>
  <%=h @apartment.school_district %>
</p>

<p>
  <b>Price:</b>
  <%=h @apartment.price %>
</p>

<p>
  <b>Bedrooms:</b>
  <%=h @apartment.bedrooms %>
</p>

<p>
  <b>Bathrooms:</b>
  <%=h @apartment.bathrooms %>
</p>

<p>
  <b>Link:</b>
  <%=h @apartment.link %>
</p>

<p>
  <b>Note:</b>
  <%=h @apartment.note %>
</p>


<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'Back', apartments_path %>